.upcoming-container {
  margin-bottom: 32px;
}

.upcoming-container__content {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}

.upcoming-container__header {
  h2 {
    margin-bottom: 16px;
    font-size: 17px;
  }
}
