.all-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.all-container__header {
  h2 {
    margin-bottom: 16px;
    font-size: 17px;
  }
}

.all-container__content {
  gap: 16px;

  .all-card {
    margin-bottom: 16px;
  }
}
